parameters:
    level: 9
    paths:
        - src
        - .php-cs-fixer.dist.php
    scanDirectories:
        - phar://%currentWorkingDirectory%/vendor/php-cs-fixer/shim/php-cs-fixer.phar/src
        - phar://%currentWorkingDirectory%/vendor/php-cs-fixer/shim/php-cs-fixer.phar/vendor/symfony/finder
